@import "tailwindcss";

@font-face {
  font-family: "Mohave";
  src: url("../fonts/Mohave-VariableFont_wght.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-VariableFont_wght.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-mohave: "Mohave", sans-serif;
  --font-quicksand: "Quicksand", sans-serif;

  --color-dark-gray: #191919;
  --color-medium-gray: #393939;
  --color-light-gray: #696969;

  --color-smoke-white: #fafafa;
}

@layer utilities {
  li,
  a,
  .service-card,
  .service-img,
  .footer-logo {
    transition: all 0.2s linear;
  }

  .contact-spin {
    animation: circle-spin 8s linear infinite;
  }

  .contact-spin:hover {
    animation-play-state: paused;
    cursor: url("/images/footer/corner-arrow.webp"), auto;
  }

  @keyframes circle-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .custom-container {
    width: 100%;
    padding-inline: 20px;
    margin-inline: auto;

    @media (width >= 40rem) {
      max-width: 40rem;
    }

    @media (width >= 48rem) {
      max-width: 48rem;
    }

    @media (width >= 64rem) {
      max-width: 64rem;
    }

    @media (width >= 80rem) {
      max-width: 80rem;
    }
  }
}

body {
  overflow-x: hidden;
  background-color: var(--color-smoke-white);
}
